$bodybg: #f8f8f8 !important;
$bgcolor: black;
$bgcolorWhite: white;
$colorWhite: white;
$color: #1376F8 !important;
$border: 0.0625rem solid black;
@mixin background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  background-color: $bodybg;
}
@import 'nav';
@import 'media';

.header {
  color: $colorWhite;
  text-align: center;
}
.parallax-window {
  min-height: 500px;
  background: transparent;
}

.fa {
  font-size: 1.5rem;
  color: black;

  &:hover {
   color: $color;
  }
}

.block {
  margin: 1rem;
  background-color: $bgcolorWhite;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content {
  margin-top: 2rem !important;
}

h3 {
  padding-top: 10rem;
}

.page-item.active .page-link {
  background-color: red !important;
  border-color: red !important;
}

.footer {
  padding: 2rem 0;
  background-color: $bgcolor;
  color: $colorWhite;
  margin-top: 3rem;
}

.copyright {
  padding: 1rem;
  text-align: center;
  background-color: $bgcolor;
  color: $colorWhite;
}
